/* css */
.img-center {
  display: flex;
  justify-content: center;
}

.logo {
  width: 100%;
  max-width: 500px;
}

.cabin-sketch {
  font-family: 'Cabin Sketch', cursive;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.statistic {
  text-align: center;
  color: #fcd6e3;
  font-size: 130px;
}

.text {
  font-size: 24px;
}

.with {
  border: 10px solid black;
  border-radius: 30px;
  margin-bottom: 24px;
}

.without {
  border: 10px solid #FCD6E3;
  border-radius: 30px;
  margin-bottom: 24px;
}
